
{#
    {% trans_default_domain 'MremiContactBundle' %}
#}

{% trans_default_domain 'MremiContactBundle' %}

<a name="contact_"></a>

        <!--Third (Works) section--> 
<section class="section" id="contact_">

    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 col-xs-12">

        <h2 class="text-center title">Contact</h2>
        <div class="form-style">

		    {{ form_start(form, {'action': path('mremi_contact_form')}) }}
		        {# 
		        <fieldset>
		             <legend>{{ 'mremi_contact.form_title'|trans }}</legend> 
		            {{ form_widget(form) }}
		        </fieldset> 
		        #}
		        
		        {{ form_widget(form) }}
		  </div>
	</div>
	</div>
	<div class="col-xs-12">
        <hr class="space"/>
        <p align="center">© 2015 Joan Dídac Viana Fons</p>
    </div>
</section>
	
{#
{% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <p>{{ message }}</p>
    </div>
{% endfor %}
#}
