{#

Files


#}

        <!--Third (Works) section--> 
        <section class="section" id="files_">

            <div class="container">

                <h2 class="text-center title">Archives</h2>
                <!--                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <ol class="breadcrumb">
                                            <li class="active">Photovoltaics</li>
                                            <li><a href="aboutus.html">Web-development</a></li>
                                            <li><a href="contactus.html">Engineering</a></li>
                                            <li><a href="contactus.html">Bio-construction</a></li>
                
                                        </ol>                
                                    </div>
                                </div>-->
                <!--                <p class="lead text-center">
                                    Huge thank you to all people who publish<br>
                                    their photos at <a href="http://unsplash.com">Unsplash</a>, thank you guys!
                                </p>-->
                <hr class="space"/>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-transparent">
                        <a name="pv_"></a>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">

                            <div class="panel-heading">
                                <div class="panel-title">

                                    <h2 class="wire">                                        
                                        <strong> Photovoltaics</strong>
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h2>

                                </div>
                            </div>
                        </a>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                             <a href="{{ asset('/public/files/pdfs/Report_PVSizing.pdf') }}" alt='Report_PVSizing' target="blank"/>
                                             <img class="img-responsive pic-post reduce" src="{{ asset('public/files/screenshots/sof-thumb.jpg') }}" alt='SOF-photovoltaics'/>
                                             </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post">  <a href="{{ asset('/public/files/pdfs/Report_PVSizing.pdf') }}" alt='Report_PVSizing' target="blank"/>
                                            Sizing of Fixed Photovoltaic Systems  </a>  
                                            <a href="{{ asset('/public/files/pdfs/Report_PVSizing.pdf') }}" alt='Report_PVSizing' target="blank"/>
                                                    <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                In this paper an accurate method for dimensioning fixed PV arrays is presented according to the criterion of maximum energy productivity. 
                                                The procedure used is based on a set of detailed models and conclusions from recent scientific publications. 
                                                Each model is implemented in R  and evaluates the loss factor affecting power generation eficiency associated with a particular effect or device.
                                                Throughout the analysis it has considered a 25 kW generator located at a site in the metropolitan area of Valencia.
                                                The procedure is divided into three parts:
                                            </p>
                                            <ul class="body-post">
                                                <li>Analysis of the solar resource in the selected location. </li>
                                                <li>Analysis of orientation that maximizes the annual production for different array configurations. </li>
                                                <li>Analysis of the configuration which maximizes the annual energy productivity. </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <hr class="space-small"/>

                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                             <a href="{{ asset('/public/files/pdfs/Report_SolarResource.pdf') }}" alt='Report_SolarResource' target="blank"/>
                                             <img class="img-responsive pic-post reduce" src="{{ asset('public/files/screenshots/met-thumb.jpg') }}" alt='Solar-Resource'/>
                                            </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"> <a href="{{ asset('/public/files/pdfs/Report_SolarResource.pdf') }}" alt='Report_SolarResource' target="blank"/>
                                            Typical Meteorological Year </a>
                                            <a href="{{ asset('/public/files/pdfs/Report_SolarResource.pdf') }}" alt='Report_SolarResource' target="blank"/>
                                                    <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                            </h4>
                                            <p class="body-post">
                                                In this paper is presented a methodology to obtain a representative annual series of the solar resource in the horizontal plane for a selected location. 
                                                Three studies are performed:
                                            </p>
                                            <ul class="body-post">
                                                <li>Comparative analysis between different data sources for the Global Solar Radiation.</li>
                                                <li>Quality analysis of the selected series. Assessment and correction, if any, of the corrupt data</li>
                                                <li>Comparative analysis between different data sources for the variables Temperature and Wind Velocity consistent with the selected radiation series.</li>
                                            </ul>
                                            <p class="body-post">
                                                The resulting series serves as a starting point for studies of solar energy and energy efficiency.
                                            </p>

                                        </div>
                                    </div>
                                    <hr class="space-small"/>

                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                             <a href="https://github.com/JoanViana/OCW_MIT_PV_TEX" target="blank">
                                                 <img class="img-responsive pic-post reduce" src="{{ asset('public/files/screenshots/mit-thumb.jpg') }}" alt='MIT-photovoltaics'/>
                                              </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post">  <a href="https://github.com/JoanViana/OCW_MIT_PV_TEX" target="blank">
                                                Notes of MIT Course - Fundamentals of Photovoltaics   </a>
                                                <a href="{{ asset('/public/files/pdfs/OCW_MIT_PV_TEX.pdf') }}" alt='MIT-photovoltaics' target="blank"/>
                                                    <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                                <a href="https://github.com/JoanViana/OCW_MIT_PV_TEX" target="blank">
                                                    <sup class="black"><i class="fa fa-github"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                In this document is collected some notes taken during the course <strong>Fundamentals of Photovoltaics</strong>
                                                of the MIT OpenCourseWare platform available on <a href="http://ocw.mit.edu/courses/mechanical-engineering/2-627 -fundamentals-of-photovoltaics-fall-2013">http://ocw.mit.edu</a>. 
                                            </p> 

                                            <p class="body-post">
                                                Each section corresponds to a chapter of the course and the content will be updated as it is completed.
                                            </p> 

                                            <p class="body-post">                                                   
                                                LaTeX code is avaliable in the repository <a href="https://github.com/JoanViana/OCW_MIT_PV_TEX">https://github.com/JoanViana/OCW_MIT_PV_TEX</a>.  
                                            </p>

                                            <p class="body-post">                                                   
                                                I encourage everyone to make their own fork of the project and work together.
                                            </p>

                                        </div>
                                    </div>

                                    <!--                                    <div class="row">
                                                                            <div class="col-sm-3 hidden-xs">
                                                                                <img class="img-responsive reduce" src="files/screenshots/pv-thumb.jpg" alt="Photovoltaics">
                                                                            </div>
                                    
                                                                            <div class="col-sm-9 col-xs-12">
                                                                                <h4 class="title-post"> Photovoltaics 4    
                                                                                    <a href="#">
                                                                                        <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                                                    </a>
                                                                                </h4>
                                    
                                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                                                commodo consequat.
                                    
                                    
                                                                            </div>
                                                                        </div>-->

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-transparent">
                        <a name="inf_"></a>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h2 class="wire">                                        
                                        <strong> Web-development</strong>
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <a href="https://github.com/JoanViana" target="blank">
                                                <img class="img-responsive reduce" src="{{ asset('public/files/screenshots/git-thumb.jpg') }}" alt='GitHub-repositories'/>
                                            </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"><a href="https://github.com/JoanViana" target="blank"> GitHub repositories   </a> 
                                                <a href="https://github.com/JoanViana" target="blank">
                                                    <sup class="black"><i class="fa fa-github"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                Some projects of PHP, Java or LaTeX made during the last year are collected. Also some related forks.
                                            </p>

                                            <p class="body-post">
                                                I encourage everyone to make their own forks of the repositories and improve them together.
                                            </p>


                                        </div>
                                    </div>

                                    <hr class="space-small"/>

                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                             <a href="https://c9.io/joanviana" target="black">
                                                 <img class="img-responsive reduce"src="{{ asset('public/files/screenshots/inf-thumb.jpg') }}" alt='Cloud9-workspaces'/>
                                             </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"><a href="https://c9.io/joanviana" target="black"> Cloud9 IDE </a>   
                                                <a href="https://c9.io/joanviana" target="black">
                                                    <img class="icon-sup" src="{{ asset('public/files/images/cloud9.png') }}" alt='Cloud9-link'/>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                Some workspaces of Symfony projects are put on the cloud environment.
                                            </p>

                                            <p class="body-post">
                                                I am willing to share the environments if so request.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
{#
                    <div class="panel panel-transparent">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> 
                        <a name="eng_"></a>
                            <div class="panel-heading">
                                <div class="panel-title">

                                    <h2 class="wire">                                        
                                        <strong> Engineering</strong>
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h2>

                                </div>
                            </div>
                        </a>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <img class="img-responsive reduce" src="{{ asset('public/files/screenshots/eng-thumb.jpg') }}" alt='GIS'/>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"> GIS 3D Modeling    
                                                <a href="#">
                                                    <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>


                                        </div>
                                    </div>

                                    <hr class="space-small"/>

                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <img class="img-responsive reduce" src="{{ asset('public/files/screenshots/eng-thumb.jpg') }}" alt='CAD'/>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"> CAD 3D Modeling    
                                                <a href="#">
                                                    <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                            </h4>
                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>


                                        </div>
                                    </div>

                                    <hr class="space-small"/>

                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <img class="img-responsive reduce" src="{{ asset('public/files/screenshots/eng-thumb.jpg') }}" alt='CYPE'/>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"> Design of Industrial Plant structure with CYPE    
                                                <a href="#">
                                                    <sup class="red"><i class="fa fa-file-pdf-o"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
#}
                    <div class="panel panel-transparent">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            <!--                            <a name="bio_"></a>-->
                            <div class="panel-heading">
                                <div class="panel-title">

                                    <h2 class="wire">                                        
                                        <strong> Bio-construction</strong>
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h2>

                                </div>
                            </div>
                        </a>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <a href="http://lacanya.hol.es/" target="blank">
                                            <img class="img-responsive reduce" src="{{ asset('public/files/screenshots/bio-thumb.jpg') }}" alt='laCanya-Estudis'/>
                                            </a>
                                        </div>

                                        <div class="col-sm-9 col-xs-12">
                                            <h4 class="title-post"> <a href="http://lacanya.hol.es/" target="blank">
                                            laCanya Estudis    
                                            </a>
                                                <a href="http://lacanya.hol.es/" target="blank">
                                                    <sup class="black"><i class="fa fa-external-link"></i></sup>
                                                </a>
                                            </h4>

                                            <p class="body-post">

                                                Much of my free time is spent on a project of Bio-construction with canes, adobe and other natural materials. 
                                                This project is based on two pillars:
                                            </p>
                                            <ul class="body-post">
                                                <li><strong>Environmental</strong>: Restoration of degraded natural environments, useful use of waste, knowledge of the nearby natural environment.
                                                </li>

                                                <li><strong>Social</strong>: Group work, mutual learning, intergenerational dialogue.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
