{% extends "FOSUserBundle:Security:login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content_login %}
    <div class="form-group">
        <label class="col-md-3 col-md-pull-4" for="username">{{ 'form.username'|trans({}, 'DWSBundle') }}</label>
        <input class="col-md-9 col-md-pull-3" type="text" id="username" name="_username"  placeholder={{ 'form.username'|trans({}, 'DWSBundle') }}  value="{{ last_username }}" required="required" />
    </div>
    <sup>
        <a href="{{ path('fos_user_security_login') }}" id="_submitByEmail">{{ 'link.login.email'|trans({}, 'DWSBundle') }} </a>
    </sup>
{% endblock %}