{# src/JV/ContactBundle/Resources/views/contact.html.twig #}
{% extends 'layout.html.twig' %}

{% block contact %}


<section class="section" id="contact_">
	
{#
{% if app.session.hasFlash('blogger-notice') %}
	    <div class="blogger-notice">
	        {{ app.session.flash('blogger-notice') }}
	    </div>
	{% endif %}
	#}
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

        <h2 class="text-center title">Contact</h2>
        <div class="form-style">
    
{#      <form action="{{ path('jv_contact_index') }}" method="post" {{ form_enctype(form) }} class="form">#}
{#         {{ form_errors(form) }}#}

{#         {{ form_row(form.firstName) }}#}
{#         {{ form_row(form.lastName) }}#}
{#         {{ form_row(form.email) }}#}
{#         {{ form_row(form.subject) }}#}
{#         {{ form_row(form.body) }}#}

{#         {{ form_rest(form) }}#}
        
{#     </form>#}

{{ form_start(form, {'action': path('jv_contact_index'), 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}
                <fieldset>
                <div class="form-group">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName, { 'attr' : {'class' : 'form-control'} }) }}
                    <span class="text-danger">{{ form_errors(form.firstName) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName, { 'attr' : {'class' : 'form-control'} }) }}
                    <span class="text-danger">{{ form_errors(form.lastName) }}</span>
                </div>
                
			    <div class="form-group">
			        {{ form_label(form.email) }}
			        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.email) }}</span>
			    </div>
			    
			    <div class="form-group">
			        {{ form_label(form.subject) }}
			        {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.subject) }}</span>
			    </div>
			    
			    <div class="form-group">
			        {{ form_label(form.body) }}
			        {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(form.body) }}</span>
			    </div>

				</fieldset>
				<div class="row">
					<div class="col-sm-12 text-center">
					    <p>
					        {{ form_widget(form.save, {'attr': {'class': 'btn button'}}) }}

					    </p>        
			                {{ form_end(form) }}
                	</div>
				</div>
		        
    
    		  </div>
	</div>
	</div>
	<div class="col-xs-12">
        <hr class="space"/>
        <p align="center">© 2015 Joan Dídac Viana Fons</p>
    </div>
</section>
    
{% endblock %}